body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  background-image: url("automation_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white
}

.container {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
}

h1 {
  margin: 0;
  font-size: 2em;
}
a {
   color:rgb(192, 81, 8); */
  font-weight: 500;
}
 li :hover {
  color:white
  
 }

 li {
  list-style-type: none;

 }
